cityscapesscripts @ git+https://github.com/mcordts/cityscapesScripts.git
cython
diffdist
detectron2 @ git+https://github.com/facebookresearch/detectron2.git
einops
ftfy
h5py
icecream
inflect
mmcv
panopticapi @ git+https://github.com/cocodataset/panopticapi.git
pytorch_lightning
regex
scikit-image
scipy
setuptools
shapely
submitit
timm
torch
torchaudio
torchvision
tqdm
wandb
# --find-links https://shi-labs.com/natten/wheels/
# natten==0.15.1+torch220cu121
https://shi-labs.com/natten/wheels/cu121/torch2.2.0/natten-0.15.1%2Btorch220cu121-cp310-cp310-linux_x86_64.whl
